*,
*::after,
*::before {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 670px) {
  html {
    font-size: 37%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #262626;
}

.text-h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.info-text {
  font-size: 1.4rem;
}

.text-md {
  font-size: 1.6rem;
}

.text-discription {
  font-size: 2.5rem;
  padding: 2.7rem;
}

.text-dicription-lg {
  font-size: 2.8rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #262626;
  color: #262626;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.2rem;
}

.btn:hover {
  -webkit-box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.4);
          box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.4);
  background-color: #96ebf6;
}

.footer {
  min-height: 20rem;
  font-size: 1.4rem;
  background-color: #262626;
  color: #B2B2B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
}

.footer__input {
  text-align: left;
  margin: 2rem;
}

.footer__input-text {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.footer .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 450px) {
  .footer .input-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .input-form .input-box {
  width: 28rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #B2B2B2;
  outline: none;
}

.footer .input-form button {
  border: none;
  background-color: transparent;
  color: #B2B2B2;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 2.4rem;
}

.footer__square {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9C8554;
  max-height: 80rem;
  color: #B2B2B2;
}

@media only screen and (max-width: 670px) {
  .hand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
}

.hand__left {
  max-width: 37.5rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 670px) {
  .hand__left {
    text-align: center;
  }
}

.hand .info-text {
  font-size: 1.5rem;
}

.hand .info-text p {
  margin-bottom: 2rem;
}

.hand .btn {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
}

.hand__right {
  text-align: right;
}

.soup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 80rem;
}

.soup__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.soup__left a {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

@media only screen and (max-width: 450px) {
  .soup__left a {
    bottom: 1rem;
    left: 1rem;
  }
}

.soup__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.soup__right a {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

@media only screen and (max-width: 450px) {
  .soup__right a {
    bottom: 1rem;
    left: 1rem;
  }
}

.lipstick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80rem;
  background-color: #EBEBEB;
}

@media only screen and (max-width: 670px) {
  .lipstick {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
}

.lipstick__img {
  margin: 11rem 0rem 11rem 2rem;
  max-width: 80rem;
}

@media only screen and (max-width: 450px) {
  .lipstick__img {
    margin: 3rem;
  }
}

.lipstick__img .img {
  max-width: 100%;
}

.lipstick__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
  max-width: 30rem;
  text-align: left;
}

.lipstick__text .text-h1 {
  margin-bottom: 1rem;
}

.lipstick__text .text-dicription-lg {
  line-height: 1.2;
  margin-bottom: 4rem;
}

.lipstick__text .info-text, .lipstick__text .text-md {
  margin-bottom: 2rem;
}

.modern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a26779;
  color: #B2B2B2;
  max-height: 80rem;
}

@media only screen and (max-width: 670px) {
  .modern {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
}

.modern__left {
  max-width: 37.5rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 670px) {
  .modern__left {
    text-align: center;
  }
}

.modern .info-text {
  font-size: 1.5rem;
}

.modern .info-text p {
  margin-bottom: 2rem;
}

.modern .btn {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
}

.modern__right {
  text-align: right;
}

.hiphop {
  max-height: 80rem;
  position: relative;
  background-color: #a3a8ac;
}

.hiphop__text {
  position: absolute;
  top: 6.3rem;
  left: 0;
  max-width: 37.5rem;
  margin: 4rem;
}

@media only screen and (max-width: 450px) {
  .hiphop__text {
    height: 100%;
    top: 0;
    width: 40%;
    margin: 1rem;
  }
}

.hiphop__text .text-md {
  line-height: 1.3;
}

@media only screen and (max-width: 450px) {
  .hiphop__text .text-md {
    font-size: 1.3rem;
  }
}

.hiphop__text .text-h1 {
  margin-bottom: 1rem;
}

.hiphop__text .info-text {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 450px) {
  .hiphop__text .info-text {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .hiphop__text .info-text {
    font-size: 1.3rem;
  }
}

.handwach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #504B4D;
  color: #B2B2B2;
}

@media only screen and (max-width: 670px) {
  .handwach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
}

.handwach__left {
  max-width: 37.5rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 670px) {
  .handwach__left {
    text-align: center;
  }
}

.handwach .info-text {
  font-size: 1.5rem;
}

.handwach .info-text p {
  margin-bottom: 2rem;
}

.handwach .info-text .btn {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
}

.handwach__right {
  text-align: right;
}

.industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B04836;
  color: #B2B2B2;
}

@media only screen and (max-width: 670px) {
  .industry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
  }
}

.industry__left {
  max-width: 37.5rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 670px) {
  .industry__left {
    text-align: center;
  }
}

.industry .info-text {
  font-size: 1.5rem;
}

.industry .info-text p {
  margin-bottom: 2rem;
}

.industry .btn {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
}

.industry__right {
  text-align: right;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E7F066;
  max-height: 80rem;
  position: relative;
}

@media only screen and (max-width: 450px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.header__img {
  position: relative;
}

.header__img .learn {
  position: absolute;
  bottom: -7rem;
  right: -30.5rem;
  width: 37rem;
  height: 25rem;
  padding: 5rem;
  font-size: 1.6rem;
  line-height: 1.3;
  text-align: left;
  background-color: #1b1b1b;
  color: #f1f1ee;
}

@media only screen and (max-width: 450px) {
  .header__img .learn {
    display: none;
  }
}

.header__img .learn .btn {
  color: currentColor;
  border-bottom: 1px solid currentColor;
}

.header__logo {
  position: absolute;
  top: 2.6rem;
  left: 2.6rem;
}

.header__info {
  padding: 3.2rem;
  max-width: 36rem;
}

.header__info-textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28rem;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 5.5rem;
  margin-bottom: 8rem;
}

.header__burger-line {
  width: 2rem;
  height: 0.2rem;
  background-color: #262626;
  margin-bottom: .5rem;
}

.header__info-text {
  width: 27.5rem;
  height: 5.7rem;
}

.header__info-text p {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 450px) {
  .header .text-discription {
    font-size: 1.7rem;
  }
}
