// COLOR
$color-header-b:  #E7F066;
$color-hand-b:  #9C8554;
$color-lipstick-b: #EBEBEB;

$color-text-black:  #262626;
$color-text-grey:  #B2B2B2

// TEXT
$text-sm12: 1.2rem
$text-md14: 1.4rem
$text-md16: 1.6rem
$text-xl25: 2.5rem
$text-xl28: 2.8rem




$height-section: 80rem    

