//section HAND 2*
.hand 
    display: flex
    background-color: $color-hand-b
    max-height: $height-section
    color: $color-text-grey
    &__left 
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 3.5rem
    &__left-text 
        p
            margin-bottom: 2rem
 
    &__left-btn 

    .btn 
        color: $color-text-grey
        border-bottom: 1px solid $color-text-grey
    &__right 
        display: flex
        flex-direction: column
        align-items: end
    &__right-img 
        

// section SOUP
.soup 
    display: flex
    max-height: $height-section
    &__left 
        display: flex
        flex-direction: column
        position: relative
       
        a
            position: absolute
            bottom: 4rem 
            left: 4rem   
        
    &__right 
        display: flex
        flex-direction: column
        position: relative
            
        a
            position: absolute
            bottom: 4rem 
            left: 4rem  
            
        
// section LIPSTICK
.lipstick 
    display: flex
    &__img 
    margin: 11rem 2rem 11rem 2rem
    .img 
        max-width: 80rem
    &__text 
        display: flex
        flex-direction: column
        justify-content: center
        margin: 3rem
        max-width: 30rem
        .text-h1
            margin-bottom: 1rem

        .text-dicription-lg
            line-height: 1.2
            margin-bottom: 4rem    
        .info-text, .text-md
            margin-bottom: 2rem    
        
            

    
    
           