.btn 
    text-transform: uppercase
    text-decoration: none
    border-bottom: 1px solid $color-text-black
    color: $color-text-black
    padding: 0.5rem 0.5rem 0.5rem 0.5rem
    font-size: $text-sm12
    animation: pulsate 1s 
    transition: all .4s ease-in
    &:hover
        
        box-shadow: 2px 2px 5px rgba($color-text-black, .4)
        background-color: #e7e7e78c
        color: $color-text-black !important
        
    
